<section id="eventos" class="mb-12 sm:mb-16 py-12 sm:py-16 bg-green-900">
	<div class="container">
		<p
			class="mb-4 text-center text-green-200 uppercase tracking-widest text-sm"
		>
			Conecte-se com a natureza
		</p>
		<h2
			class="mb-8 mx-auto font-serif text-balance text-center max-w-screen-md text-white text-4xl sm:text-6xl"
		>
			Cada Som, Cada Momento, Uma Nova Descoberta
		</h2>
		<div
			class="overflow-x-auto snap-x snap-mandatory pb-4 grid grid-cols-[repeat(3,minmax(300px,1fr))] gap-4 sm:gap-8"
		>
			<div
				class="grid snap-center gap-4 bg-green-800 p-6 sm:p-8 rounded-xl"
			>
				<h3 class="text-green-300 text-2xl font-serif">Lua Nova</h3>
				<div class="text-white">
					<p class="font-serif text-5xl">23</p>
					<p class="text-xl">Março 2049</p>
				</div>
				<p class="text-gray-300 text-balance">
					Melhor período para observação astronômica. O Céu estará claro e
					as estrelas visíveis.
				</p>
				<a href="#contato" class="justify-self-start self-end btn"
					>Reservar 23/03</a
				>
			</div>
			<div
				class="grid snap-center gap-4 bg-green-800 p-6 sm:p-8 rounded-xl"
			>
				<h3 class="text-green-300 text-2xl font-serif">Aurora Boreal</h3>
				<div class="text-white">
					<p class="font-serif text-5xl">15</p>
					<p class="text-xl">Abril 2049</p>
				</div>
				<p class="text-gray-300 text-balance">
					Melhor período para observação da Aurora Boreal, o céu estará
					iluminado pelas estrelas.
				</p>
				<a href="#contato" class="justify-self-start self-end btn"
					>Reservar 15/04</a
				>
			</div>
			<div
				class="grid snap-center gap-4 bg-green-800 p-6 sm:p-8 rounded-xl"
			>
				<h3 class="text-green-300 text-2xl font-serif">
					Chuva de Meteoros
				</h3>
				<div class="text-white">
					<p class="font-serif text-5xl">18</p>
					<p class="text-xl">Agosto 2049</p>
				</div>
				<p class="text-gray-300 text-balance">
					Melhor período para observação da Chuva de Meteoros, o céu estará
					iluminado pelas estrelas.
				</p>
				<a href="#contato" class="justify-self-start self-end btn"
					>Reservar 18/08</a
				>
			</div>
		</div>
	</div>
</section>