<footer class="container pb-8">
	<div class="bg-green-900 grid gap-8 lg:grid-cols-2 mb-8 rounded-2xl p-6 sm:p-12">
		<div class="flex gap-12 max-sm:flex-col max-sm:gap-4">
			<div>
				<h3 class="text-white font-serif text-xl mb-4">Endereço</h3>
				<p class="text-gray-400">
					Rua da Mata, 123<br />Floresta Nacional<br />Rio de Janeiro, RJ
				</p>
			</div>
			<div>
				<h3 class="text-white font-serif text-xl mb-4">Contato</h3>
				<p class="text-gray-400">
					contato@forestwind.com<br />+55 21 9999-9999
				</p>
			</div>
		</div>
		<div class="lg:justify-self-end">
			<span class="text-white font-serif text-4xl tracking-wide">Forest Wind</span>
			<p class="text-gray-400">Conecte-se com a natureza</p>
		</div>
	</div>
	<div
		class="text-gray-400 flex items-center justify-between gap-8 text-sm max-sm:flex-col-reverse"
	>
		<p>© {new Date().getFullYear()} Forest Wind. Todos os direitos reservados.</p>
		<ul class="flex gap-8">
			<li><a class="hover:text-green-300" href="#">Instagram</a></li>
			<li><a class="hover:text-green-300" href="#">LinkedIn</a></li>
			<li><a class="hover:text-green-300" href="#">Facebook</a></li>
		</ul>
	</div>
</footer>