---
import "../global.css";
---

<!doctype html>
<html lang="pt-BR" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<link rel="icon" href="/favicon.png" type="image/png" />
    <title>Forest Wind</title>
    
		<link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text&display=swap"
      rel="stylesheet"
    />
	</head>
	<body class="bg-green-800 font-sans">
		<slot />
	</body>
</html>
